<div class='welcome-box l-bl-separation'>
  <h2 class='welcome-title welcome-title-inline'>
    <span class='bold-condensed'>BIENVENIDO</span>
    a las preinscripciones en escuelas de <span class='welcome-arrow'>Sinaloa</span></h2>
</div>

<ol class="breadcrumbs l-bl-separation">
  <li class='beginning'></li>
  <%= render_breadcrumbs tag: :li%>
</ol>
