$orange: #e29f44;
$dark_purple: #4c1d50;
$light_purple: #5f325f;
$light_gray: #b7b8c0;
$dark_blue: #22284f;
$white: #ffffff;
$link_primary: red;


// Bootstrap variables
$brand-primary:                  #e29f44;


$btn-primary-border:             $brand-primary;
$btn-default-bg:                 #852e89;
$btn-default-color:              #fff;
$btn-default-border:             #852e89;

